.venv/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

.DS_Store
Thumbs.db

.idea/
.vscode/

results/
!results/.gitkeep

rawdata/*.xls
rawdata/*.xlsx
rawdata/*.csv
!rawdata/.gitkeep
!rawdata/Info.csv
!rawdata/600406_debt_year.xls
!rawdata/600406_benefit_year.xls
!rawdata/600406_cash_year.xls
!rawdata/600406_price.xls
